{% extends 'site_base.html' %}

{% load i18n %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'condottieri_scenarios/css/condottieri_scenarios.css' %}" />
{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url "machiavelli:summary" %}">{% trans "Home" %}</a></li>
<li><a href="{% url "scenarios:setting_list" %}">{% trans "Settings" %}</a></li>
<li><a href="{% url "scenarios:scenario_list" %}">{% trans "Scenarios" %}</a></li>
<li><a href="{% url "scenarios:country_list" %}">{% trans "Countries" %}</a></li>
</ul>
{% endblock %}

{% block main_content %}
{% block body %}{% endblock %}
{% endblock %}

