{% extends 'condottieri_scenarios/base.html' %}

{% load i18n %}
{% load static %}

{% block head_title %}{{ setting.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/jquery.iviewer.css' %}" />
<style type="text/css">
#map {
	position: relative;
	top: 10px;
	left: 0px;
	width: 100%;
	height: 740px;
}
</style>
{% endblock %}

{% block body %}

<div class="section">
<h1>{{ setting.title }}</h1>
<p>{{ setting.description }}</p>

<p><a href="{% url "scenarios:setting_disasters" setting.slug %}">{% trans "Disasters tables" %}</a></p>

{% if editable %}
<p><a href="{% url "scenarios:setting_areas" setting.slug %}">{% trans "Edit areas" %}</a></p>
{% endif %}

<h2>{% trans "Scenarios" %}</h2>

<table>
<thead><tr>
<th>{% trans "Title" %}</th>
<th>{% trans "Start year" %}</th>
<th>{% trans "Players" %}</th>
<th>{% trans "Scores" %}</th>
<th>{% trans "Stats" %}</th>
</tr></thead>
{% for s in setting.scenario_set.all %}
<tr {% if not s.enabled %}class="disabled"{% endif %}>
<td><a href="{% url "scenarios:scenario_detail" s.name %}">{{ s.title }}</a></td>
<td class="data_c">{{ s.start_year }}</td>
<td class="data_c">{{ s.number_of_players }}</td>
<td><a href="{% url "machiavelli:ranking" "scenario" s.name %}">{% trans "See scores" %}</a></td>
<td><a href="{% url "scenarios:scenario_stats" s.name %}">{% trans "See stats" %}</a></td>
</tr>
{% endfor %}
</table>

</div>

<div class="section">
<h2>{% trans "Map" %}</h2>
<div id="map" class="viewer"></div>
</div>

{% endblock %}

{% block extra_body %}
<!-- Load jQuery first -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Load jQuery UI -->
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>

<!-- Load jQuery plugins -->
<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'js/jquery.iviewer.min.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		makeLayout();
	});

	function makeLayout() {
		var viewer_opts = {
			src: "{% static 'machiavelli/img/' %}{{ setting.board }}",
			ui_disabled: true,
			zoom: "fit",
			zoom_max: 100,
			zoom_min: 10,
			zoom_delta: 1.4,
			//zoom_base:
			update_on_resize: true
		};

		$("#map").iviewer(viewer_opts);
	}
</script>

{% endblock %}
